
.heading
{
font-size: 23px;
width: 40%;
margin: 0px;
border-radius: 30px;
}

#status
{
font-size: 18px;
}

body{
    background-size:cover;
    background-position: center;
    background-color:beige;
}

canvas{
    box-shadow:10px 10px 10px pink;
    border-radius:10px;
}

#back{
    float:right;
    margin-top:-150;
}
